div.maDiv {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    background-color: #FFDFBF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  div.monBlock {
    margin: 5px;
    padding:5rem 10rem;
    float: left;
    background-color: #CCFF99;
  }


/* @media screen and (min-width: 1200px){
    div.maDiv{
        min-width:1200px;
    }

}

@media screen and (min-width: 961px) and (max-width:1199px){
    div.maDiv{
        max-width:1199px;
    }

}

@media screen and (min-width: 768px) and (max-width:960px){
    div.maDiv{
        max-width:960px;
    }

}

@media screen and (min-width: 480px) and (max-width:767px){
    div.maDiv{
        max-width:767px;
    }

}

@media screen and (max-width: 479px){
    div.maDiv{
        max-width:480px;
    }
} */
/* 
    ici mettre le style des medias 
    media >= 1200
    961 <= media <= 1199
    768 <= media <= 960
    480 <= media <= 767
    media <= 479
*/